body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.calculator {
    background-color: lightcyan;
    border-radius: 10px;
    box-shadow: 0 10 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    padding: 30px;
}

.display {
    width: 100%;
    padding: 15px;
    font-size: 30px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    margin-top: 10px;
}

button {
    padding: 10px;
    font-size: 18px;
    background-color: blueviolet;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: LightSkyBlue;
}